body{
    background: #6a309a; 
}

.container{
    max-width: 100%;
    width: 100%; 
}

.box{ 
    margin: auto;
    text-align: center;
    width: 50%;
    max-width: 75%;
} 

h1 {
    color: #fff;
}

form { 
}

input {
    margin: 0;
    border: none;
    border-radius: 0; 
    padding: 1rem 0;
    width: 70%;
    float: left;
}

.addBtn {
    border: 0;
    float: right;
    width: 30%;
    padding: 1rem 0;   
}

.log {
    border: 0;
    background: transparent;
    padding: 1rem 0;
    color: #fff;
}

ul {
    padding: 1rem 0;
    display: block;
    clear: both;
    text-align: center;
    color: #fff;
    
}

ul li {
    list-style: none; 
}




