@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

.app {
    font-family: 'Montserrat', sans-serif; 
    color: #fff;
    width: 100%;
}

.container {
    max-width: 95%;
    margin: 0 auto;
}

.nav {
    display: flex;
    list-style: none;
    padding: 0;
}
.nav li a{
    color: #c5c1c1;
    text-decoration: none;
    margin-left: 25px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.navbar{
    background-color: #2b2e39;
}

.list {
    display: flex;
    flex-wrap: wrap;
}

.card {
    width: 33%;
    display: flex;
    align-items: center;
    flex-flow: column;
    transition: transform .5s ease;
}

.card:hover {
    transform: scale(1.05);
}

.card-inner {
    margin: 15px;
}

.card-header {
    width: 100%; 
}

.card-header img {
    width: 100%; 
    opacity: .8;
    border-radius: 5px;
}

.card-header img:hover { 
    opacity: 1;
}

.card-description {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.card-description h2 {
    font-size: 18px;
    color: #d8d8d8;
}

.btn {
    padding: 5px 10px;
    border-radius: 5px;
    color: #ffffff;
    text-decoration: none;
    font-size: 15px;
    border: 1px solid #30fbdf;
    font-weight: 600;
}

.logo {
    display: flex;
    align-items: center;
    font-weight: 900; 
}

.logo h1 {
    font-size: 20px;
}

.separador {
    background: #83f7df;
    height: 5px;
    width: 55px;
}

.coming {
    margin: 20px;
}